body {
  color: rgb(238, 238, 238);
  background-color: rgb(37, 37, 37);
}

.kiwi-hlr-loading::before {
    content: "⏳ ";
}

/* .kiwi-hlr-form {
    font-size: 10px;
}
*/

/* .kiwi-hlr-results-table {
    font-size: 8px;
}
*/

.kiwi-textarea {
    font-size: 12px;
}