body {
  color: rgb(238, 238, 238);
  background-color: rgb(37, 37, 37);
}

.kiwi-hlr-loading::before {
    content: "⏳ ";
}

.kiwi-results-meta {
    font-size: 14px;
    margin-block-end: 0px;
}

.kiwi-field label {
    font-size: 17px;
    color: rgb(238, 238, 238);
}

/* .kiwi-hlr-form {
    font-size: 10px;
}
*/

/* .kiwi-hlr-results-table {
    font-size: 8px;
}
*/

.kiwi-textarea {
    font-size: 12px;
}