body {
  margin: 0;
  background: #1f1f1f;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.lp-container {
  max-width: 440px;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}

.hero {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

h1 {
  font-size: 24px;
  margin: 16px 0 8px;
}

p {
  margin: 0 0 16px;
}

.cta {
  display: inline-block;
  width: 90%;
  padding: 14px 8px;
  background: #9effae;
  color: #1f1f1f;
  font-weight: 700;
  text-decoration: none;
  border-radius: 10px;
}

.price {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 700;
}

.disclaimer {
  font-size: 14px;
  color: rgb(226, 226, 226);
  margin: 50px 0 0 0;
}
